.loader {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    background-color: #212121;
    display: block;
    margin: 0 auto;
    animation-name: shape;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
  
@keyframes shape {
    0% {
        border-radius: 50% 50% 50% 50%;
        transform: rotate(0deg);
    }
    30% {
        border-radius: 50% 50% 50% 5px;
        transform: rotate(30deg);
    }
    50% {
        border-radius: 50% 50% 5px 5px;
        transform: rotate(90deg);
    }
    70% {
        border-radius: 50% 5px 5px 5px;
        transform: rotate(120deg);
    }
    100% {
        border-radius: 5px 5px 5px 5px;
        transform: rotate(180deg);
    }
}