.App-header {
    background-color: #222;
    color: white;
    padding: 4rem 0;
    text-align: center;
}

.App-title {
    font-size: 1.5em;
    margin: 1rem 0;
}

.routes  {

    padding: 2rem 0;
}

.routes  a {

    color: #fff;
}

.routes  a {
    
    margin-right: 1rem;
}

.routes  a:last-child{
    
    margin-right: unset;
}

.routes .active  {

    color: rgb(21, 146, 248);
}

.logout-mobile {
    display: none;
}

@media screen and (max-width: 680px) {
    .routes, .App-logo, .dn-m {
        display: none;
    }
    .logout-mobile {
        display: flex;
        padding: 0 1rem;
        justify-content: space-between;
        align-items: center;
    }
    .logout-mobile h4 {
        margin: 0;
        color: #fff;
    }
    .logout-mobile .flexed {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    .logout-mobile .flexed img {
        margin-left: 1rem;
    }
    .App-header {
        padding: 2rem 0;
    }
}