.routes  {

    padding: 2rem 0;
}

.routes  a {

    color: #fff;
}

.routes  a {
    
    margin-right: 1rem;
}

.routes  a:last-child{
    
    margin-right: unset;
}

.routes .active  {

    color: rgb(21, 146, 248);
}