.App-logo {
  height: 80px;
}

.logotodo  {
  height: 80px;
  position: relative;
  top: 3rem;
}

.create  {
  position: relative;
  top: -3rem;
}

.create .card  {
  background: #fff;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, .19);
  padding: 2rem;
}

@media screen and (max-width: 680px) {
  .create {
    top: 1rem;
  }
  .container {
    width: 100%;
  }
}

.task-icon:before  {
  content: '';
}

.delete-all  {
  padding: 1rem 0 3rem 0;
}

.delete-all .red-btn  {
  background-color: #f03f3f;
}

.link  {
  padding: 2rem 0;
}

.link a {
  color: #212121;
  font-size: large;
}

.link a:visited  {
  color: #212121;
}

.fixedHeight {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.fixedHeight .sk-spinner {
  align-self: center;
}

select {
  margin: 2.1rem 0;
}

select:after{
  background: url("https://cdn1.iconfinder.com/data/icons/pixel-perfect-at-16px-volume-2/16/5001-128.png") 95% 32% !important;
  background-repeat: no-repeat !important;
  background-color: #fff !important;
}

#nprogress .bar {
  height: 6px !important;
}