.search input {
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.search .search-icon:before {
    content: "";
    top: 0rem;
    left: 1.6rem;
}

.flexed  {
    display: flex;
    align-items: center;
}

.search select  {
    width: 40%;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    padding: .8rem .5rem;
}

@media screen and (max-width: 680px) {
    .search select, .search input {
        width: 100%;
        border-radius: 1.5rem;
    }
    .search select {
        display: none;
    }
    .flexed  {
        flex-direction: column;
    }
    .search .search-icon:before {
        display: none;
    }
    .search {
        padding: 0 1rem;
    }
}