.filter-by {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-by .active-filter {
    background-color: #7274ff;
    color: #fff;
}

.filter-by .active-filter:hover {
    background-color: #7274ff;
    color: #fff;
}